*~
*.swp
*.swo

*.o
.deps

*.la
*.lai
*.so
*.a
*.lo
*.pc

m4/*

Makefile
Makefile.in
.dirstamp

aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
gnome-doc-utils.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
stamp-h1
xmldocs.make

ChangeLog

docs/reference/html
docs/reference/xml
docs/reference/emerillon-decl-list.txt
docs/reference/emerillon-decl.txt
docs/reference/version.xml
docs/reference/emerillon-overrides.txt
docs/reference/emerillon-sections.txt
docs/reference/emerillon.types
*.stamp

po/.intltool-merge-cache
po/POTFILES
po/stamp-it
po/Makefile.in.in
*.pot
*.gmo

data/org.gnome.emerillon.gschema.xml
data/emerillon.desktop
data/emerillon.desktop.in
emerillon/emerillon

plugins/*/*.plugin
