*~
*.swp
*.swo

*.o
.deps

*.la
*.lai
*.so
*.a
*.lo
*.pc

Makefile
Makefile.in
.dirstamp

aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
stamp-h1
xmldocs.make

po/.intltool-merge-cache
po/POTFILES
po/stamp-it
po/Makefile.in.in
*.pot
*.gmo

data/emerillon.schemas
data/emerillon.desktop
data/emerillon.desktop.in
emerillon/emerillon

*.emerillon-plugin
